body {
    position: relative;
}

.post {
    width: 80%;
    position: relative;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid gray;
}

.header {
    text-align: center;
    text-shadow: 1cap;
    color: rgb(6, 15, 75);
    font-weight: bold;
}

.body {
    text-align: justify;
    text-decoration: double;
    font-family: fantasy;
}